body{
  background-color: black
}

.registration-form{
padding: 50px 0;
}
.registration-form .item{
border-radius: 50px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border:2px solid #04d36c;
  font-size: 20px;
  /* color: white; */
}

.registration-form .create-account{
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5791ff;
  border: none;
  color: white;
  margin-top: 20px;
}

.row{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.back_gate{
  /* border-radius: 50px 0 0 50px!important; */
  /* border: 1px saddlebrown solid; */
}
.border_rad{
  border-radius: 0 50px 50px 0!important;
  background-color: #000000;
}
.green_back{
  border: 1px saddlebrown solid;
}
.form-control{
  border: 2px solid black;

    background-color: #201e1e;
  color: white;

}
.tacbox{
  width: auto;
  height: auto;
  color:white;
}
.registration-form {
  
  border-radius: 20px;
  background-color: #201e1e!important;
  width: 50%;
  
}
.registration-form .create-account{
  background-color: #04d36c!important;
}
.registration-form .Terms{
  color: #04d36c;
}
.btn-group{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  background-color: #000000;
}
.btn{
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
}

.tab{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 3px;
  border-radius: 50px;
  padding: 5px;
  color: white;
  cursor: pointer;
  
}
.active{
  background-color: #04d36c;
  color: #000000;
  cursor: pointer;
}
.active :hover{
  background: rgba(50, 224, 196, 0.15);

}
.form-title{
  font-size: 30px;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}  
@media (max-width: 576px) {
  .registration-form form{
      padding: 50px 20px;
  }

  .registration-form .form-icon{
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
}